<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE xml>
<!--  scan:当该配置文件被修改时,自动扫描,间隔时间为60秒, debug打印logback内部
运行信息,方便查看logback-->
<configuration scan ="true" scanPeriod="60 seconds" debug="false">
	<!--  每个程序独有的上下文信息,生成后不能改变,可以使用property给上下文赋值-->

	 <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">   
    <!-- encoder 默认配置为PatternLayoutEncoder -->   
    <encoder>   
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>   
    </encoder>   
  </appender>   
   
  <root level="INFO">             
    <appender-ref ref="STDOUT" />   
  </root>     


</configuration>